<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
    <head>
        <meta charset='utf-8' />
        <meta name='description' content='ColorMix.js, a javascript open source library for mixing, blending and manipulating colors' />
        <meta name='keywords' content='ColorMix,colormix,javascript,color,colors,colour,colours,mix,mixing,mixing colors,blend,blending,blending colors,manipulate,colors manipulation' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>ColorMix Library</title>
        {% block stylesheets %}
            <link rel='stylesheet' href='{{ asset('assets/css/vendor/normalize.css') }}' />
            <link rel='stylesheet' href='{{ asset('assets/css/vendor/bootstrap-3.1.1.min.css') }}' />
            <link rel='stylesheet' href='{{ asset('assets/css/vendor/bootstrap-colorpicker.css') }}' />
            <link rel='stylesheet' href='{{ asset('assets/css/prettify-sublime-text.min.css') }}' />
            <link rel='stylesheet' href='{{ asset('assets/css/app.min.css') }}' />
        {% endblock %}
        {% block head_javascripts %}
            <script src='{{ asset('assets/js/vendor/modernizr-2.6.2.min.js') }}'></script>
        {% endblock %}
        <link rel='icon' href='favicon.ico' />
    </head>
    <body>
        {% block body %}
            <nav class='navbar navbar-default' role='navigation'>
                <div class='container'>
                    <div class='navbar-header'>
                        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#app-navbar'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                        <a class='navbar-brand' href='{{ app.url_generator.generate('home') }}'>ColorMix</a>
                    </div>
                    <div class='collapse navbar-collapse' id='app-navbar'>
                        <ul class='nav navbar-nav'>
                            <li class='{% block link_class_get_started %}{% endblock %}'><a href='{{ app.url_generator.generate('getting-started') }}'>How to use ?</a></li>
                            <li class='{% block link_class_documentation %}{% endblock %}'><a href='{{ app.url_generator.generate('documentation') }}'>Documentation</a></li>
                            <li class='{% block link_class_download %}{% endblock %}'><a href='{{ app.url_generator.generate('download') }}'>Download</a></li>
                            <li class='{% block link_class_demonstrations %}{% endblock %}'><a href='{{ app.url_generator.generate('demonstrations') }}'>Demonstrations</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id='app' class='container'>
                {% block app_container %}{% endblock %}
                <div class='push'></div>
            </section>
            <footer class='container'>
                {% block footer %}
                    <span class='muted'>Fork on <a href='https://github.com/Flo-Schield-Bobby/colormix' target='_blank'><i class='icon icon-github-square'></i> GitHub</a> - By <a href='http://florentschildknecht.com/' target='_blank'>Florent SCHILDKNECHT</a></span>
                {% endblock %}
            </footer>
            {% block scripts %}
                <script src='{{ asset('assets/js/vendor/jquery-1.11.0.min.js') }}'></script>
                <script src='{{ asset('assets/js/vendor/bootstrap-colorpicker.js') }}'></script>
                <script src='{{ asset('assets/js/vendor/bootstrap-3.1.1.min.js') }}'></script>
                <script src='{{ asset('assets/js/vendor/prettify.min.js') }}'></script>
                <!-- <script src='{{ asset('assets/js/vendor/colormix-2.0.0.min.js') }}'></script> -->
                <script src='{{ asset('../../source/v2/js/colormix-2.0.0.js') }}'></script>
                <script src='{{ asset('assets/js/plugins.js') }}'></script>
                <script src='{{ asset('assets/js/app.js') }}'></script>
                <script>
                    var _gaq=[['_setAccount','UA-41134099-1'],['_trackPageview']];
                    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                    g.src='//www.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
                </script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
